{% extends "base.html" %}


{% block extrahead %}

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@R2Devops" />
<meta name="twitter:title" content="{{page.title}} - R2Devops documentation"  />
<meta name="twitter:description" content="Protect your Software Supply Chain with R2Devops! Stay informed with real-time CI/CD tracking, detect CVEs and ensure pipelines compliance" />
<meta name="twitter:image" content="https://docs.r2devops.io/images/twitter_card.png" />
<meta name="twitter:title" content="{{page.title}} - R2Devops documentation"  />
<meta name="twitter:image" content="https://docs.r2devops.io/images/twitter_card.png" />
<meta property="og:title" content="{{page.title}} - R2Devops documentation">
<meta property="og:description" content="Protect your Software Supply Chain with R2Devops! Stay informed with real-time CI/CD tracking, detect CVEs and ensure pipelines compliance">
<meta property="og:url" content="https://docs.r2devops.io/">
<meta property="og:site_name" content="R2Devops documentation">
<meta property="og:image" content="https://docs.r2devops.io/images/twitter_card.png">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<!-- End Twitter card -->

<!-- Plausible -->
<script async defer data-domain="docs.r2devops.io" src="https://plausible.io/js/plausible.js"></script>
<!-- End Plausible -->
{% endblock %}